<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
  <%= link_to "中古品売買",root_url,class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <% if current_user %>
            <li class="nav-item">
                <%= link_to "Post", new_post_path,class:"nav-link btn btn-primary" %>
            </li>
            <li class="nav-item">
                <%= link_to "Notifications",notifications_path, class:"nav-link" %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                <% if current_user.name.present? %>
                    <%= current_user.name %>
                <% else %>
                    お名前を入力してください
                <% end %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to "Posts List",posts_path,class:"dropdown-item" %>
                    <%= link_to "Edit",edit_user_registration_path,class:"dropdown-item" %>
                    <%= link_to "購入リスト",buys_path,class:"dropdown-item" %>
                    <hr>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete,class:"dropdown-item" %>
                </div>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path,class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path,class:"nav-link" %>
            </li>
        <% end %>
    </ul>
  </div>
  </div>
</nav>