<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h2 class="text-center mb-2">購入リスト</h2>
        <p>購入後＝に振り込んでください</p>
        <% @buys.each do |buy| %>
            <div class="mb-3 row"  style="align-items:center">
                <div class="col-4">
                    <% if buy.post.images.present? %>
                        <% buy.post.images.each do |image| %>
                            <%= image_tag image, class:"w-100" %>
                        <% end %>
                    <%else%>
                        <%= image_tag "empty.jpg", class:"w-100" %>
                    <%end%>
                </div>
                <div class="col-8">
                    <div class="card-body" style="box-sizing:border-box;">
                        <h5 class="card-title"><%= buy.post.title %></h5>
                        <p class="card-text"><%= buy.post.description %></p>
                        <p class="card-text"><%= buy.post.user.name %></p>
                        <%= link_to "Show", buy_path(buy),class:"btn btn-primary" %>
                    </div>
                </div>
            </div>
            <hr>
        <% end %>
    </div>
    <div class="col-3"></div>
</div>